html{
  scroll-snap-type: y mandatory; 
  /* scroll-snap-type it helps in defining the snap behaviour of the site so if we are scrolling through section it snaps to the section and y is to tell direction in which snap need to occur during scroll and it is mandatory */
  scroll-behavior: smooth;
  /* the scroll and snapping to different section will be smooth */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM sans",sans-serif;
}
body{
    background-color: rgb(5, 38, 24);
    color: rgb(239, 246, 209);
}
a{
  text-decoration: none;
  color: inherit;
  /* take color from parent here it is body */
}
section{
  height:100vh;
  scroll-snap-align: center;
  /* when the section will snap and come to viewport space it will take central space */
}
